black
CairoSVG
einops
ftfy
msrest
open_clip_torch
opencv-python
pip-upgrader
Pillow
pycocoevalcap
prettytable
PyQt6
regex
requests
rouge_score
ruff
svgwrite
torch
torchvision
transformers
tqdm
ultralytics
wn